#container {
    background-color: #757efc;
    width: 50%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    width: 100%;
    font-size: 45px;
}

#subtitle {
    width: 100%;
}

#register-form {
    width: 100%;
}

.data-container {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.data-label {
    font-size: 20px;
}

.data-box {
    border-radius: 4px;
}

button {
    background-color: rgb(186, 196, 206);
    margin-top: 15px;
    margin-bottom: 15px;
    width: auto;
    height: 40px;
    font-size: 15px;
    border-radius: 4px;
}

#result {
    margin-bottom: 15px;
}

#link-container {
    margin: 15px;
}

#all-players-stats-container {
    text-align: center;
}

#all-players-stats-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.all-players-stats-menu-items {
    width: 50%;
    box-sizing: border-box;
}

#all-players-stats-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.all-players-stats-list-items {
    width: 50%;
    box-sizing: border-box;
}

#player-stats{
    margin-left: 150px;
    margin-right: 150px;
}

#player-stats-list {  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.player-stats-item {
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}
